/* Partie card précédente et suivante */

.container div {
    width: 15%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.50);

    position : absolute;
    /* transition: transform .5s linear;
    transform: translateY(0px);
    will-change: transform; */

}

.previous-card {
    left : 0;
    border : 1px black solid;
    border-radius: 10px;
    -webkit-mask: linear-gradient(270deg, #000, #0000);
    mask: linear-gradient(270deg,#000, #0000);
}

.next-card {
    right: 0;
    border : 1px black solid;
    border-radius: 10px;
    -webkit-mask: linear-gradient(90deg, #000, #0000);
    mask: linear-gradient(90deg,#000, #0000);
}

/* Card principale */

.flip-card {
    width: 60%;
    height: 80%;
    background-color: transparent;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border: 1px black solid;
    border-radius: 10px;
}

.flip-card-front {
    background-color: rgba(128, 128, 128, 0.50);;
    color: black;
    display: flex;
    justify-content: flex-start;
}

.flip-card-front-img>img {
    object-fit: contain;
    max-height: 100%;
    border-radius: 10px 0 0 10px;
}

.flip-card-back {
    background-color: rgba(128, 128, 128, 0.50);
    transform: rotateY(180deg);
}

h1 {
    padding: 0 10px;
}

p {
    border-top: black 1px solid;
    padding-top: 5px;
    padding: 0 10px;
}