@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #383838;
    background-color: #f8f8f8;
}

/* ******HEADER******  */


header { 
    width: 100%;
    height: 10vh;
    border-bottom : 1px black solid;
    background-color: rgb(128, 128, 128, 0.50);
    display: flex;
    justify-content: space-between;
}

/* Partie Menu */

h1 {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 100%;
  max-height: 10vh;
  width: auto;
  object-fit: cover;
}

nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap : 50px;
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* ******MAIN****** */

main {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Partie card */


.caroussel {
    width: 100%;
    height: 80vh;

    position: relative;
    overflow-x: clip;
    overflow-y: hidden;

    --value: -2100;
    --width: calc(var(--value) * -1 * 1px);
    --distance: calc(var(--value) * .67 * 1px);
    --perspective: calc(var(--value) * -.33 * 1px);
    --angle: calc(var(--value) / 75 * 1deg);
    --zoom: 2.2;
    --active-translate-modifier: .6;
    --vertical-offset: -0px;
}


.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    perspective: var(--perspective);
    transform-style: preserve-3d;
    position: absolute;  
    transform: scale(var(--zoom)) translateY(calc(var(--vertical-offset) * -1));  
}

.item {
    height: calc(100% - 20px);
    width: calc(20%);

    transition: all 2s;
    position : absolute;

    border : 1px black solid;
    border-radius: 15px;

}

.container .item:nth-of-type(1) {
    transform: rotateY(calc(var(--angle) * 2)) translateZ(var(--distance)) translateY(var(--vertical-offset));
  }
  
  .container .item:nth-of-type(2) {
    transform: rotateY(calc(var(--angle) * 1)) translateZ(var(--distance)) translateY(var(--vertical-offset));
  }
  
  .container .item:nth-of-type(3) {
    width: 45vw;
    background-color: transparent;
    border: none;
    transform: rotateY(0deg) translateZ(calc(var(--distance) * var(--active-translate-modifier))) translateY(var(--vertical-offset));
  }
  
  .container .item:nth-of-type(4) {
    transform: rotateY(calc(var(--angle) * -1)) translateZ(var(--distance)) translateY(var(--vertical-offset));
  }
  
  .container .item:nth-of-type(5) {
    transform: rotateY(calc(var(--angle) * -2)) translateZ(var(--distance)) translateY(var(--vertical-offset));
  }


/* Partie card 3D */

.item:nth-child(3) {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .item:nth-of-type(3):hover .flip-card {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border-radius: 15px;
    border: 1px solid black;

    background-color: #ea9696;
    color: black;
  }
  
  .flip-card-back {
    border-radius: 15px;
    border: 1px solid black;

    background-color: dodgerblue;
    color: white;

    transform: rotateY(180deg);
  }


/* Partie flèches de navigation */

.prev-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: rotate(180deg);
    width: 100px;
    height: 100px; 
    cursor: pointer;
    opacity: 0.5;
    transition: hover 0.3s ease;
    z-index: 2;
}

.prev-arrow:hover {
    transform:rotate(180deg);
    opacity: 1;
    scale: 1.1;
    transition: hover 0.3s ease;
    z-index: 2;
}

.next-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 100px;; 
    height: 100px; 
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    z-index: 2;
}

.next-arrow:hover {
    opacity: 1;
    scale: 1.1;
    transition: hover 0.3s ease;
    z-index: 2;
}


/* ******FOOTER****** */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.50);
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
}

/* Partie timeline */

.timeline {
    height: 6vh;
    width: 80vw;

    --rayon : 25px;
    --thickness : 5px;
    --gap : calc(calc(var(--thickness) - var(--rayon))/2);
}

.years {
    position: absolute;
    margin-top: 4vh;
    height: var(--thickness);
    width: 80vw;
    background-color: gray;
    border-radius: 3px;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
}

.dots {
    margin-top: var(--gap);
    height: var(--rayon);
    width: var(--rayon);
    background-color: gray;
    border-radius: 50%;
    z-index: 1;
}