@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

/* ******GENERAL******  */

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  background-color: #101114;
}

h1 {
  font-family: 'Noto Serif Lao', serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-left: 10px;
  color: #f3d269;
}

h2 {
  font-family: 'Noto Serif Lao', serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #f3d269;
}

p {
  text-align: justify;
}

/* Les DIV centrées à la Bootstrap */

.col_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Les DIV centées style modal d'information */

.error,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  border: #f3d269 2px solid;
  border-radius: 5px;
  padding: 50px;
}

/* Les boutons modernes */

.modern_button {
  position: relative;
  margin: 1rem 0;
  width: auto;
  height: 2.3em;
  border-radius: 5px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  align-self: center;
  transition: background-color .5s ease;
  transition: color .5s ease;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f3d269;
  border: gray 2px solid;
  color: #2a2a2a;
}

.modern_button:hover {
  border: #101114 2px solid;
}

.modern_button_red {
  position: relative;
  margin: 1rem 0;
  width: auto;
  height: 2.3em;
  border: #c14444 2px solid;
  border-radius: 5px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  align-self: center;
  transition: background-color .5s ease;
  transition: color .5s ease;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c14444;
  border: #c14444 2px solid;
  color: #ffffff;
}

.modern_button_red:hover {
  border: #ffffff 2px solid;
}

/* ******HEADER******  */


header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px #383838 solid;
  background-color: #101114;
  display: flex;
  justify-content: space-between;
}

/* Partie Menu */

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 100%;
  max-height: 10vh;
  width: auto;
  object-fit: cover;
}

.title {
  text-decoration: none;
  color: #f3d269;
}

nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
  list-style: none;
  margin-right: 50px;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

nav ul a:hover {
  color: #f3d269;
}

/* ******MAIN****** */

main {
  width: 90vw;
  height: 80vh;
  overflow: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #090a0b;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url(../img/salle_cinema.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* La page Home */

.soon li {
  margin-bottom: 1rem;
}

.hero {
  width: 60vw;
  height: 30vh;
  font-size: 2.5rem;
  color: #f3d269;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}



/* Les formaulaires */

input {
  background-color: #1c2129;
  color: #ffffff;
}

form .modern_input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Les Champs INPUT modernes */

form.modern_form .modern_label {
  position: relative;
}

form.modern_form .modern_label input {
  width: 25vw;
  height: 25px;
  font-size: 16px;
  margin-bottom: 25px;
  border: #3b3b3C 2px solid;
  border-radius: 30px;
  outline: none;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-left: 25px;
}

form.modern_form .modern_label input.search {
  width: 50vw;
  height: 25px;
  font-size: 16px;
  margin-bottom: 25px;
  border: #3b3b3C 2px solid;
  border-radius: 30px;
  outline: none;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-left: 25px;
}

form.modern_form .modern_label input:hover {
  border: #5e5e5f 2px solid;
}

form.modern_form .modern_label label {
  position: absolute;
  top: 5px;
  left: 25px;
  padding-top: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
  font-weight: bolder;
}

form.modern_form .modern_label input:focus~label,
form.modern_form .modern_label input:valid~label {
  top: -8px;
  left: 25px;
  font-size: 12px;
}

/* Les SELECT modernes */

.select {
  display: flex;
  align-items: center;
}

.select label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.select select {
  border: 2px solid #f3d269;
  border-radius: 5px;
  height: 2rem;
  margin-left: 40px;
  color: #ffffff;
  background-color: #1c2129;
}

/* Les checkbox modernes */

.checkbox label {
  font-weight: bold;
}

.checkbox .cgu {
  color: #f3d269;
  cursor: pointer;
  font-weight: bold;
}

/* Les buttons submit style modernes */

.submit {
  margin: 1rem 0;
  width: 10vw;
  height: 2.3em;
  width: auto;
  border: #f3d269 2px solid;
  border-radius: 5px;
  font-weight: bolder;
  color: #f3d269;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  align-self: center;
  transition: background-color .5s ease;
  transition: color .5s ease;
}

.submit:hover {
  background-color: #f3d269;
  color: black;
}

/* Les erreurs de validation */

form .modern_input .error_modern_input {
  margin-left: 50px;
  padding-bottom: 25px;
  color: red;
  font-weight: bold;
}

form .modern_input .error_select {
  margin-left: 50px;
  color: red;
  font-weight: bold;
}

error_ra form .modern_input .error_checkbox {
  margin-left: 50px;
  margin-bottom: -5px;
  color: red;
  font-weight: bold;
}

.error_top {
  text-align: center;
  color: red;
  font-weight: bold;
}

.error_rating {
  color: red;
  font-weight: bold;
}

/* Les Modales */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc6c;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 70vw;
  height: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1;
}

.modal-content h2 {
  color: #101114;
}

.show-modal {
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
  font-size: 2rem;
  align-self: flex-end;
  float: right;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
}

.close-button:hover {
  background-color: #adadad;
}

.modal-content-delete {
  color: #101114;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 30vw;
  height: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1;
}

.modal-content-delete h2 {
  color: #101114;
}

/* Le carousel */


.carousel {
  width: 100%;
  height: 80vh;

  position: relative;
  overflow-x: clip;
  overflow-y: hidden;

  --value: -2000;
  /* Referme le rayon si s'approche de 0 */
  --distance: calc(var(--value) * .60 * 1px);
  /* Zoom les side cards vers l'avant si s'approche de 0 */
  --perspective: calc(var(--value) * -.33 * 1px);
  --angle: calc(var(--value) / 85 * 1deg);
  --zoom: 2.4;
  /* Zoom tout le carousel si s'approche de 0 */
  --active-translate-modifier: 0.8;
  /* Zoom le card active vers l'avant si s'approche de 0 */
  --vertical-offset: 0px;
  /* Décale les cards vers le haut si s'approche de 0 */
}


.cards_container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  perspective: var(--perspective);
  transform-style: preserve-3d;
  position: absolute;
  transform: scale(var(--zoom)) translateY(calc(var(--vertical-offset) * -1));
}

.item {
  height: calc(100% - 20px);
  width: calc(20%);

  transition: all 2s;
  position: absolute;
}

.cards_container .item:nth-of-type(1) {
  transform: rotateY(calc(var(--angle) * -2)) translateZ(var(--distance)) translateY(var(--vertical-offset));
}

.cards_container .item:nth-of-type(2) {
  transform: rotateY(calc(var(--angle) * -1)) translateZ(var(--distance)) translateY(var(--vertical-offset));
}

.cards_container .item:nth-of-type(3) {
  width: calc(0.67*80vh);
  background-color: transparent;
  border: none;
  transform: rotateY(0deg) translateZ(calc(var(--distance) * var(--active-translate-modifier))) translateY(var(--vertical-offset));
}

.cards_container .item:nth-of-type(4) {
  transform: rotateY(calc(var(--angle) * 1)) translateZ(var(--distance)) translateY(var(--vertical-offset));
}

.cards_container .item:nth-of-type(5) {
  transform: rotateY(calc(var(--angle) * 2)) translateZ(var(--distance)) translateY(var(--vertical-offset));
}


/* Le carousel : Partie card 3D */

.item:nth-child(3) {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 15px;
  border: 1px solid black;

  background-position: center;
  background-size: cover;
  background-color: #ea9696;
  color: black;
}

/* Le bandeau date */

.container_date {
  background-color: #ffffffb5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
}

.date {
  font-size: 2rem;
  font-weight: bold;
  color: #101114;
  font-family: 'Noto Serif Lao', serif;
}

.item:nth-child(3):hover .container_date {
  opacity: 1;
}



/* L'effet de peel ou curl ---------------------------------------------------- */

/* Le container */
.item:nth-child(3) div.curl_container {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  max-width: 500px;
  max-height: 770px;
  background-color: transparent;
  text-align: center;
}

/* Le border box pour éviter les problèmes  */
.item:nth-child(3) div.curl_container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Le bloc par dessus le container qui contiendra les elements de transformation */
.item:nth-child(3) div.curl_container>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Ajout d'un linéar-gradient en haut à gauche pour opacifier le coin*/
.item:nth-child(3) div.curl_container>div::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background-image: linear-gradient(135deg, #000000 0%, transparent 30%, rgba(255, 255, 255, 0.15));
}

/* Ajout de l'effet "arrière du curl"*/
.item:nth-child(3) div.curl_container .curl {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(315deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
}

/* Ajout de l'effet de distortion (skew) en haut à droite*/


.item:nth-child(3) div.curl_container .curl:before,
.item:nth-child(3) div.curl_container .curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12%;
  bottom: 6%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}

/* ????? */
.item:nth-child(3) div.curl_container .curl:after {
  left: auto;
  right: 6%;
  bottom: auto;
  top: 14%;
  transform: skew(-15deg) rotate(-84deg);
}

/* C'est le container qui déclenche le ::hover */
.item:nth-child(3) div.curl_container:hover>div::before,
.item:nth-child(3) div.curl_container.hover>div::before {
  opacity: 1;
}

/* La taille de l'effet */
.item:nth-child(3) div.curl_container:hover .curl,
.item:nth-child(3) div.curl_container.hover .curl {
  width: 90px;
  height: 90px;
}

/* Fin de l"effet de curl ------------------------------------------------------------ */

.flip-card-back {
  border-radius: 15px;
  border: 1px solid black;
  box-sizing: border-box;

  background-color: rgb(63, 63, 63);
  color: #ffffff;

  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overview {
  margin: 15px;
}

.release_date {
  text-align: center;
}



/* Le carousel : Partie flèches de navigation */

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: rotate(180deg);
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.5;
  transition: hover 0.3s ease;
  z-index: 2;
}

.prev-arrow:hover {
  transform: rotate(180deg);
  opacity: 1;
  scale: 1.1;
  transition: hover 0.3s ease;
  z-index: 2;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  z-index: 2;
}

.next-arrow:hover {
  opacity: 1;
  scale: 1.1;
  transition: hover 0.3s ease;
  z-index: 2;
}

/************************************* Résultats de la recherche **********************************/

/* Partie timeline */

.entry {
  clear: both;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: row;
}

.entry .title {
  float: left;
  width: 7vw;
  padding-right: 30px;
  text-align: right;
  position: relative;
  border-right: 1px solid #f3d269;

}

.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #f3d269;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}

.entry .title h3 {
  margin: 0;
  font-size: 120%;
}

.entry .title p {
  margin: 0;
  font-size: 100%;
}

.entry .body {
  margin: 0 0 1em;
  float: right;
  width: 85%;
  padding-left: 30px;
}

.entry .body p {
  line-height: 1.4em;
}

.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}

.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}

.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

/* La grille des résultats */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 10px 10px;
}

.movie {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(63, 63, 63);
}

.movie:hover {
  border: 1px solid #f3d269;
}

.movie_list {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-areas: "movie_list_core movie_list_core movie_list_core movie_list_core movie_other_infos";
  border: #101114 1px solid;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: rgb(63, 63, 63);
}

.movie_list:hover {
  border: 1px solid #f3d269;
}

.movie_list_core {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-area: movie_list_core;
}


.movie_list_other_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  grid-area: movie_other_infos;
}

.movie_viewing_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_date {
  border: 1px solid #ffffff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.movie_list_stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.movie_list_stars p {
  text-align: center;
}

.movie_list_stars div i {
  color: gray;
  font-size: 20px;
}

.bordered_icon {
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.modal_movie {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movie .movie_image,
.modal_movie .movie_image,
.movie_list_core .movie_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie img,
.modal_movie img,
.movie_list_core img {
  width: 200px;
  height: 300px;
  margin: 20px;
}

.movie .movie_info,
.modal_movie .movie_info {
  margin-right: 2rem;
}

.movie .movie_info .movie_list_core .movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 10px;
}

.modal_movie .movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: calc(100% - 200px);
  margin: 10px;
  width: 100%;
}


.modal_select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 20px;
}

.modal_select button,
.modal_select input {
  margin: 1rem 0;
  width: auto;
  height: 2.3em;
  border-radius: 5px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  align-self: center;
  transition: background-color .5s ease;
  transition: color .5s ease;
}

.modal_select button {
  background-color: #f3d269;
  border: gray 2px solid;
  color: #2a2a2a;
}

.modal_select input {
  background-color: #c14444;
  border: #c14444 2px solid;
  color: #ffffff;
}

.modal_select button:hover {
  border: #101114 2px solid;
}

.modal_select input:hover {
  border: #101114 2px solid;
}

/* Dans la modale de ma liste */

.modal_delete {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.modal_delete button {
  margin: 1rem 0;
  width: auto;
  height: 2.3em;
  border-radius: 5px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  align-self: center;
  transition: background-color .5s ease;
  transition: color .5s ease;
}

.btn_cancel {
  border: #101114 2px solid;
  color: #101114;
}

.btn_delete {
  border: #c14444 2px solid;
  color: #c14444;
}

.btn_cancel:hover {
  background-color: grey;
  border: grey 2px solid;
  color: white;
}

.btn_delete:hover {
  background-color: #c14444;
  color: white;
}



/* Système de notation par étoiles en CSS (pas de JS) : https://codepen.io/jmpp/pen/BWjaEM */


.modal_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.stars {
  display: inline-flex;
  justify-content: center;
  font-size: 2.5em;
}

.fa-star {
  color: gray;
  cursor: pointer;
  padding: 2px;
  transition: color 0.3s ease;
}

.fa-star.gold {
  color: #f3d269;
}


/* A l'état :hover sur le parent '.rating',
       on force TOUTES les étoiles à passer en jaune. */
.stars:hover .fa-star {
  color: #f3d269;
  transition: color 0.3s
}

/* Et si la souris survole une étoile en particulier,
       on sélectionne toutes les étoiles qui sont APRÈS celle-ci
       grâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover~.fa-star {
  color: gray;
}

.noHover {
  pointer-events: none;
}

/* ******FOOTER****** */

footer {
  border-top: 1px #383838 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #101114;
}